# Ignorar carpetas de compilación
bin/
obj/

# Ignorar archivos temporales de Code::Blocks
*.depend
*.layout

# Ignorar archivos de configuración de VS Code (opcional, pero solemos guardarlos)
# .vscode/
